$accent-color: #E1B168;
$default-color: #292E36;
$text-color: #555555;

%JosefinSans-400 {
  font-family: 'JosefinSans-Regular', sans-serif;
  font-weight: 400;
}

%CormorantInfant-400 {
  font-family: 'CormorantInfant-Regular', serif;
  font-weight: 400;
}







